.route-icon{
  font-size: 108px;
  font-family: "MeteoconsRegular", sans-serif;
  text-align: center;
  background-color: #71BC78;
  color: white;
  width: 144px;
  height: 144px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 6px;
}
.mapIcon{
  float: right;
  font-size: 70px;
  font-family: "MeteoconsRegular", sans-serif;
  text-align: center;
  background-color: #71BC78;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 6px;
}

.route-number{
  color: #71BC78;
  font-size: 130px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

.location{
  font-size: 36px;
  line-height: 28px;
  color: #555;
}

.address{
  /*padding-left: 2px;*/
  font-size: 18px;
  color: #ccc;
}

.start{
  margin-top: 5px
}

.end{
  margin-top: 5px
}

.buttons{
  margin-top: 7px;
  font-size: 16px;
}

a{
  color: #bbb;
}

a:hover{
  color:#666;
}

#mainrow {
  margin-top: 50px
}

.crit-routes h4{
  font-weight: 700;
  font-size: 20px;
  padding-top: 7px;
  margin-bottom: -15px;
}

.icon:before{
  font-family: "MeteoconsRegular", sans-serif;
  content: attr(data-icon);
  color: white;
}

.dl-horizontal dt{
  text-align: right;
  width: 40px;
  padding-right: 1em;
}

.dl-horizontal dd{
  margin-left: 0;
}

.crit-routes{
  font-size: 18px;
  color: #888;
}

.more-crit{
  font-size: 16px;
  color: #ccc;
}

.routeRow{
  border-left-width: 0;
  border-top-width: 1px;
  border-right-width: 0;
  font-family: "Exo", sans-serif;
}

.routeRow:first-child{
   border-top-width: 0px;
   margin-top: 10px;
}

#mapNotification .notificationBadge{
  padding: 4px 4px;
}

.sidebar
{
  background: #eee;
  padding :20px;
  margin-top: 20px;
  border-radius: 10px;
}

.sidebar label
{
  margin: 10px;
}

#filter-btn,
#newRoute
{
  width: 100%;
  margin:0;
  margin-left:;
  background: #71BC78;
  border: #71BC78;
}

#newRoute
{
  margin-bottom: 10px; 
}

#DONT-PRESS 
{
  background: white;  
  border:white;
}

.checks{
  display:block;
}

#navbar-right{
  margin-right: 10px;
}